<div class="content__title edit-title">
  投稿の編集
</div>
<%= form_with model: @note, class: :form, local: true do |form| %>
  <label class="edit">タイトル</label>
  <%= form.text_field :title, placeholder: :タイトル, class: 'form-control edit-title-font' %>
  <label class="edit">本文</label>
  <%= form.text_area  :content, placeholder: :ブログ本文, rows: 10, class: 'form-control input-lg edit-content-font'%>
  <%= form.submit '更新する', class: 'btn btn-outline-secondary form_btn mt-2 create center edit-btn' %>
<% end %>