 <% @tags.each do |tag| %>
    <div class="memos">
      <div class="memo">
        <%= link_to tag.name, tag_path(tag), method: :get  %>
      </div>
    <div class="tag-count">
      <%= tag.notes.count %>
    </div>
    </div>
    <% end %>