.new {
  text-align: center;
}

.create {
  width: 500px;
  text-align: center;
  margin: 30px 0 0 225px;
}

.tagname {
  margin: 30px 0 0 225px;
  background-color: white;
  width: 500px;
}

.send {
  background-color: lightgray;
  margin: 10px 0 0 225px;
  width: 500px;
}

#blog_diary {
  height: 300px;
}