* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}


body {
  height: 100%;
  width: 100%;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// body {
//   margin: 0;
//   padding: 0;
// }

.header {
  // height: 50px;
  width: 100%;
  background-color: #F9CE00;
  display: flex;
  justify-content: space-between;
}

.menu {
  height: 50px;
  width: 35%;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  background-color: #F9CE00;
  align-items: center;
  padding: 0 20px;
  
  &__name {
    font-size: 20px;
    text-decoration: none;
    color: #09194F;
    padding-left: 10px;
  }
  
  
  &__icon {
    height: 50px;
    width: 50px;
    font-size: 20px;
    line-height: 60px;
    display: flex;
    justify-content: flex-end;
    
    &--cog {
      i {
      color: #09194F;
      text-decoration: none;
      }
    }
    &--plus {
      i {
      color: #09194F;
      padding-left: 10px;
      }
    }
  }
}

.search-form {
  width: 700px;
}

.btn-search  {
  width: 100px;
}
// .search {
//   height: 50px;
//   width: 700px;
//   padding: 10px;
//   background-color: #09194F;
  

//   &__text-field {
//     height: 30px;
//     font-size: 16px;
//     padding: 5px;
//     width: calc(100% - 100px);
//     float: left;
//   }

//   &__submit {
//     height: 30px;
//     width: 60px;
//     float: left;
//     margin-left: 10px;
//     font-size: 16px;
//   }
// }

.left-content {
  height: calc(100% - 50px);
  width: 10%;
  // background-color: #00818A;
  background-color: #fffafa;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  float: left;
  overflow: scroll;
}

.memos {
  padding: 5px 10px;
}

.memo {
  height: 30px;
  width: 90%;
  background-color: #FDFDEB;
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  line-height: center;

  &__title {
    font-size: 16px;
  }

  &__text {
    font-size: 12px;
    margin-top: 5px;
  }

  &__tag {
    font-size: 11px;
  }
}


.right-content {
  height: calc(100% - 50px);
  width: 80%;
  // background-color: #FDFDEB;
  background-color: #faf5f7;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  float: left;
}

.posts {
  height: 100%;
  width: 100%;
  padding: 20px;
  overflow: scroll;
}

.post {
  background-color: #FDFDEB;
}

// .tag {
//     margin: 0;
//     padding: 0;
//     list-style: none;
// }
// // .label {
//   position: relative;
//   display: inline-block;
//   height: 30px;
//   line-height: 30px;
//   padding: 0 1em;
//   background-color: #bf34db;
//   border-radius: 3px 3px 3px 3px;
//   color: #fff;
//   font-size: 13px;
//   text-decoration: none;
//   -webkit-transition: .2s;
//   transition: .2s;
// }

// .a {
//   display: inline-block;
//   margin: 0 0 .3em 1em;
//   padding: 0;
// }



// .label :hover {
//   background-color: #555;
//   color: #fff;
// }
// .label :hover::before {
//   border-right-color: #555;
// }


.right-bar {
  // background-color: #00818A;
  background-color: #fffafa;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  height: calc(100% - 50px);
  float: right;
  width: 10%;
}

