* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}


body {
  height: 100%;
  width: 100%;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
}

.header {
  height: 50px;
  width: 100%;
  background-color: #F9CE00;
  display: flex;
  justify-content: space-between;
}

.menu {
  height: 50px;
  width: 20%;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  background-color: #09194F;
  align-items: center;
  padding: 0 20px;
  
  &__name {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    padding-left: 10px;
  }
  
  
  &__icon {
    height: 50px;
    width: 50px;
    font-size: 20px;
    line-height: 60px;
    display: flex;
    justify-content: flex-end;
    
    &--cog {
      i {
      color: #ffffff;
      text-decoration: none;
      }
    }
    &--plus {
      i {
      color: #ffffff;
      padding-left: 10px;
      }
    }
  }
}

.search {
  height: 50px;
  width: 700px;
  padding: 10px;
  background-color: #09194F;
  

  &__text-field {
    height: 30px;
    font-size: 16px;
    padding: 5px;
    width: calc(100% - 100px);
    float: left;
  }

  &__submit {
    height: 30px;
    width: 60px;
    float: left;
    margin-left: 10px;
    font-size: 16px;
  }
}

.left-content {
  height: calc(100% - 50px);
  width: 20%;
  background-color: #00818A;
  float: left;
}

.memos {
  padding: 20px 10px;
}

.memo {
  height: 100px;
  width: 100%;
  background-color: #FDFDEB;
  color: #333;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;

  &__title {
    font-size: 16px;
  }

  &__text {
    font-size: 12px;
    margin-top: 5px;
  }

  &__tag {
    font-size: 11px;
  }
}


.right-content {
  height: calc(100% - 50px);
  width: 80%;
  background-color: #FDFDEB;
  float: left;
}

.posts {
  height: calc(100% - 50px);
  width: 100%;
  padding: 20px;
  overflow: scroll;
}

.post {
  background-color: #FDFDEB;
  margin-bottom: 10px;
  padding: 10px;
  color: #444;
  border-radius: 3px;
  text-align: right;
  border-bottom: medium solid #333;

  &__title {
    width: 100%;
    text-align: left;
    &--btn{
      color: #444;
      text-decoration: none;
    }
  }

  &__user-name {
    font-size: 12px;
    margin-right: 10px;
    display: inline-block;
    &--btn {
      color: #444;
      text-decoration: none;
    }

  }

  &__date {
    font-size: 12px;
    display: inline-block;
  }
}
