.comment-area {
  margin: 10px 0;
}

.send-btn {
  margin: 10px 0;
  height: 50px;
}

.comments-menu {
  text-align: left;
  margin: 0 0 0 180px;
}

.commentbox {
  background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
  border-radius: 10px;
  margin: 30px 150px;
}

.daytime { 
  text-align: center;
  line-height: 16px;
}

.show-title {
  text-align: center;
  font-size: 50px;
}

.text-main {
  height: 500px;
}

.text-main-box {
  background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
  border-radius: 10px;
}

.form-comment {
  padding: 20px 0;
}